:root {
  --hero-color: #ffffff;
  --header-color: #212121;
  --title-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
}

* {
  box-sizing: border-box;
}
img {
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}

body {
  font-family: roboto, sans-serif;
  color: #212121;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: center;
  outline: 1px solid tomato;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/*--------HEADER---------------*/

.header {
  background-color: #ccc;
}

.header-list {
  padding-top: 32px;
  padding-bottom: 32px;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo-text {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-color);
}

.header-link:hover,
.header-mail:hover,
.header-tel:hover {
  color: var(--accent-color);
}

.header-link:focus,
.header-mail:focus,
.header-tel:focus {
  color: var(--accent-color);
}

.header-mail,
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/*--------hero---------------*/

.hero {
  background: #2f303a;
  padding: 200px 452px 280px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-color);
  margin-bottom: 30px;
}

.hero-btn {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin: 0 auto;
}
.hero-btn:hover,
.hero-btn:focus {
  color: var(--accent-color);
}

/*--------benefits---------------*/

.benefits {
  padding: 94px 215px;
}

.benefits-headline {
  visibility: hidden;
}

.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}

.benefits-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/*--------ABOUT---------------*/

.about {
  padding: 94px 215px;
}

.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--header-color);
  margin-bottom: 50px;
}

/*--------TEAM---------------*/

.team {
  padding: 94px 215px;
}

.team-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--header-color);
  margin-bottom: 50px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--header-color);
  margin-bottom: 10px;
  margin-top: 30px;
}
.team-position {
  font-size: 16px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/*--------FOOTER---------------*/

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo {
  margin-bottom: 20px;
}

.footer-logo-text {
  color: var(--hero-color);
}

.footer-address {
  margin-bottom: 20px;
}

.fotter-map {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--hero-color);
}

.footer-contact {
  margin-bottom: 9px;
}

.fotter-map:hover,
.fotter-mail:hover,
.fotter-tel:hover {
  color: var(--accent-color);
}

.fotter-map:focus,
.fotter-mail:focus,
.fotter-tel:focus {
  color: var(--accent-color);
}

.fotter-mail,
.fotter-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/*---------------PORTFOLIO---------------*/

/*------------------MAIN-----------------*/

.buttons-list {
  padding-top: 94px;
  padding-bottom: 34px;
}

.buttons-item {
  font-family: "Roboto";
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--header-color);
  background-color: #f5f4fa;
}

.buttons-item:hover {
  color: var(--hero-color);
  background-color: var(--accent-color);
}

.buttons-item:focus {
  color: var(--hero-color);
  background-color: var(--accent-color);
}

/*-------------exemple-------------*/

.buttons-title {
  visibility: hidden;
}

.exemple-title {
  visibility: hidden;
}

.exemple-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.exemple-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
